certifi==2018.4.16
chardet==3.0.4
colorama==0.3.9
coremltools==0.8
h5py==2.8.0
idna==2.6
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
numpy==1.14.4
opencv-python==3.4.1.15
protobuf==3.5.2.post1
python-dotenv==0.8.2
PyYAML==3.12
requests==2.18.4
scipy==1.1.0
six==1.10.0
urllib3==1.22
virtualenv==16.0.0
